numpy
scipy
opencv-python
keyboard
pynput
mediapipe
python-osc
PyQt5
pygrabber
cv2_enumerate_cameras
torch
matplotlib
torchvision
websockets
Flask
Werkzeug
pyuac
pywin32
screeninfo
joblib
scikit-learn
psutil
onnxruntime-directml